/* Code for navigation bar */
body{
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

header{
    /* background: #FFF; */
    background-color: #FFF;
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 1;
    color: #000;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.logo{
    float: left;
    cursor: pointer;
    color: #000;
}

.container i{
  display: none;
}

#mobile-links{
  display: none;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 31px;
    
    position: relative;
}

nav a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: #000;
}

nav a::after{
    content: '';
    display: block;
    height: 5px;
    background-color: #000;
    
    position: absolute;
    top: 50px;
    width: 0%;
    transition: all ease-in-out 0.25s;
}

nav a:hover::after{
    width: 100%;
}

@media screen and (max-width:800px) {
  /* CSS for screens that are 320 pixels or less will be put in this section */
  #personal-connections{
    visibility: hidden;
  }
}

@media screen and (min-width:800px) {
  /* CSS for screens that are 320 pixels or less will be put in this section */
  #personal-connections{
    visibility: visible;
  }
}



#personal-connections{
    position: fixed;
    width: 300px;
    height: calc(100% - 80px);
    left: 0px;
    bottom: 20px;
    text-align: center;
    background-color: #FFF;
    z-index: -2;
}

#personal-connections img{
    position: absolute;
    top: 20px;
    width: 130px;
    height: 130px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: auto;
    text-align: center;
    border-radius: 50%;
}

#personal-connections ul {
  position: absolute;
  top: 170px;
  left: 50px;
  display:block;
  margin:auto;
  padding:0;
}

#personal-connections ul li {
  list-style: none;
  margin:0 0 40px 0;
}

#personal-connections ul li a .fa {
  font-size: 40px;
  color: #262626;
  line-height:80px;
  transition: .5s;
  padding-right: 14px;
}

#personal-connections ul li a span {
  padding:0;
  margin:0;
  position:absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}

#personal-connections ul li a {
  text-decoration: none;
  display:absolute;
  display:block;
  width:180px;
  height:70px;
  background: #fff;
  text-align:left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition:.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}

#personal-connections ul li a:before {
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

#personal-connections ul li a:after {
  content: '';
  position: absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

#personal-connections ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

#personal-connections ul li:hover .fa {
  color:#fff;
}

#personal-connections ul li:hover span {
  color:#fff;
}

/* Order is top,left-side,front */

#personal-connections ul li:hover:nth-child(4) a{
  background: #3b5998;
}
#personal-connections ul li:hover:nth-child(4) a:before{
  background: #365492;
}
#personal-connections ul li:hover:nth-child(4) a:after{
  background: #4a69ad;
}

#personal-connections ul li:hover:nth-child(1) a{
  background: #00aced;
}
#personal-connections ul li:hover:nth-child(1) a:before{
  background: #097aa5;
}
#personal-connections ul li:hover:nth-child(1) a:after{
  background: #53b9e0;
}

#personal-connections ul li:hover:nth-child(2) a{
  background: #6e5494; 
}
#personal-connections ul li:hover:nth-child(2) a:before{
  background: #4B308C;
}
#personal-connections ul li:hover:nth-child(2) a:after{
  background: #8369C1;
}

#personal-connections ul li:hover:nth-child(3) a{
  background: #e4405f;
}
#personal-connections ul li:hover:nth-child(3) a:before{
  background: #d81c3f;
}
#personal-connections ul li:hover:nth-child(3) a:after{
  background: #e46880;
}




@keyframes bob{
    0%   {top: 90%; left: 50%;}
    50%  {top: 87%; left: 50%;}
    100% {top: 90%; left: 50%;}
}

#landing{
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
    top: 80px;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

#landing h1{
    position: absolute;
    color: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

#landing i{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    animation-name: bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@media screen and (max-width:800px) {
  /* CSS for screens that are 800 pixels or less will be put in this section */
  nav{
    display: none;
  }

  #landing h1{
    position: absolute;
    color: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    text-align: center;
}

  .container i{
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(50%,-50%);
    cursor: pointer;
    color: #000;
    display: inline-block;
  }

  #mobile-links{
    display: none;
    position: fixed;
    top: 75px;
    width: 100%;
    transition: all ease-in-out 0.25s; 
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #000;
  }

  #mobile-links a{
    display: block;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}







