#introduction{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    top: 80px;
    background-color: #FFF;
    z-index: -1
}

.intro-1, .intro-2{
    position: relative;
    margin-top: 10px;
    width: 65%;
    left: 50%;
    transform: translate(-50%, 0px);
}

.intro-1{
    text-align: center;
}


.intro-3 ul{
    list-style-type: square;
}