#landing{
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
    top: 80px;
    background-image: url(/Images/RI.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
}

#landing h1{
    position: absolute;
    text-align: right;
    color: #FFF;
    top: 100px;
}

#landing i{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    animation-name: bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#introduction{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    top: 100%;
    background-color: #FFF;
    z-index: -1
}

.intro-1, .intro-2, .intro-3{
    position: relative;
    margin-top: 10px;
    width: 65%;
    left: 50%;
    transform: translate(-50%, 0px);
    background-color: #E8E8E8;
    border-radius: 25px;
    padding: 10px;
}

.intro-1{
    text-align: center;
}

.intro-3 ul{
    list-style-type: square;
}