#introduction{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    top: calc(100% + 80px);
    background-color: #FFF;
    z-index: -1
}

.intro-1, .intro-2, .intro-3{
    position: relative;
    margin-top: 10px;
    width: 65%;
    left: 50%;
    transform: translate(-50%, 0px);
    background-color: #E8E8E8;
    border-radius: 25px;
    padding: 10px;
}

.intro-1{
    text-align: center;
}

.intro-3 ul{
    list-style-type: square;
}

#landing{
    background-image: url(/Images/RI.jpg);
}

#landing i, #landing h1{
    color: #FFF;
}

@media screen and (max-width:800px) {
  /* CSS for screens that are 320 pixels or less will be put in this section */
  #introduction{
    position: absolute;
    width: 100%;
    left: 50%;
    top: calc(100% + 80px);
    transform: translate(-50%, 0px);
    background-color: #FFF;
    z-index: -1
    }

    .intro-1, .intro-2, .intro-3{
    position: relative;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0px);
    background-color: #E8E8E8;
    border-radius: 25px;
    padding: 10px;
    }
}






