#landing{
    background-image: url(/Images/work.jpg);
}

#landing i, #landing h1{
    color: #FFF;
}

#content{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    top: calc(100% + 80px);
    background-color: #FFF;
    z-index: -2;
}

#content .mini-con{
	position: relative;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 65%;
    left: 50%;
    transform: translate(-50%, 0px);
    background-color: #E8E8E8;
    border-radius: 25px;
    padding: 10px;
}

.mini-con div{
    position: relative;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 85%;
    left: 50%;
    transform: translate(-50%, 0px);
}

.toss-1{
	background-image: url(/Images/toss.jpg);
}
.cd-1{
	background-image: url(/Images/CoderDojo.jpg);
}
.camp-1{
	background-image: url(/Images/camp.jpg);
}

.toss-1, .cd-1, .camp-1{
    background-position: center;
    background-size: cover;
    color: #000;
    height: 400px;
}

.toss-1 h1, .toss-1 h3, .cd-1 h1, .cd-1 h3, .camp-1 h1, .camp-1 h3{
    position: relative;
    text-align: right;
}


@media screen and (max-width:800px) {
  /* CSS for screens that are 800 pixels or less will be put in this section */
  #content{
    position: absolute;
    width: 100%;
    left: 50%;
    top: calc(100% + 80px);
    transform: translate(-50%, 0px);
    background-color: #FFF;
    z-index: -1
    }

    #content .mini-con{
    position: relative;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0px);
    background-color: #E8E8E8;
    border-radius: 25px;
    padding: 10px;
    }

    .toss-1, .cd-1, .camp-1{
    background-position: center;
    background-size: cover;
    color: #000;
    height: 200px;
    }

}

