#content{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    top: 80px;
    background-color: #FFF;
    z-index: -1;
}

.colmans-1{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0px);
    width: 65%;
    text-align: center;
}

.colmans-1 img{
    position: relative;
    width: 200px;
    height: 100px;
}

.colmans-2, .colmans-3, .colmans-4{
    width: 65%;
    left: 50%;
    transform: translate(-50%, 0px);
}