#landing{
    background-image: url(/Images/pencils.jpg);
}

#landing i, h1{
    color: #FFF;
}



#content{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    top: 100%;
    background-color: #FFF;
    z-index: -2;
}

#content .mini-con{
    position: relative;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 65%;
    left: 50%;
    transform: translate(-50%, 0px);
    background-color: #E8E8E8;
    border-radius: 25px;
    padding: 10px;
}

.mini-con div{
    position: relative;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 85%;
    left: 50%;
    transform: translate(-50%, 0px);
}


/* These divs have images so require extra styling */
.colmans-1{
    background-image: url(/Images/colmans.jpg);
}
.ucc-1{
    background-image: url(/Images/ucc.jpg);
}

.colmans-1, .ucc-1{
    background-position: center;
    background-size: cover;
    color: #000;
    height: 400px;
}

.colmans-1 h1, .colmans-1 h3, .ucc-1 h1, .ucc-1 h3{
    position: relative;
    text-align: right;
}
